<!DOCTYPE html>
<html lang="en">
<head>
    <title>Delete Movie</title>
</head>
<body>
    <h1>Delete Movie</h1>
    <form action="{{ url_for('delete_movie') }}" method="post">
        <label for="Title">Select a Movie:</label><br>
        <select id="Title" name="Title" required>
            {% for movie in movies %}
                <option value="{{ movie }}">{{ movie }}</option>
            {% endfor %}
        </select><br>
        <input type="submit" value="Delete">
    </form>
</body>
</html>